/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: rgb(74, 246, 252);
    color: rgb(248, 92, 92);
}
#encabezado{
    width: 90%;
    background-color:rgb(87, 228, 238);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
