/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: antiquewhite;
    color: white;
}

/*selector id*/
#contenedor{
    height: auto;
    background-color:rgb(18, 248, 237);
    margin: 10px;
    padding: 20px;
}

#encabezado{
    width: 90%;
    background-color:cornflowerblue;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 1%;
    background-color:beige;
    margin: 1em;
    border-radius: 5px;
}

/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color:blueviolet;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*selector de clase*/
.img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;

}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:rgb(17, 58, 240);
}
img:hover{
    width: 50%;
}
.pie{
   height: 20px;
   background-color:rgb(139, 7, 247);
   margin: 2em;
   text-align: center;
   padding: 5px;
}
/*cards*/
.pie h4{
    padding: 2px;
    color: black;
    font-size: 20px;
}
.card{
    box-shadow: 0  4px  8px 0 rgb(236, 235, 235);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.card:hover{
    max-width: 310px;
}
.card img{
    background-color: rgb(122, 190, 250);


}
.title{
    color: rgb(5, 255, 255);
    font-size: 20px;
}
button{
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(76, 1, 252);
    background-color: rgb(245, 0, 37);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular{
    font-family: "scope one",serif;
    font-weight: 400;
    font-style: normal;
}
.lineal{
    width: 80%;
    height: 1px;
    background-color: rgb(247, 247, 247);
    margin: 20px auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    justify-content: center;
 
 }
 body{
    background-color: #bed19b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1110px;
    margin: 0  auto;
}
.fondo{
    padding: 32px 0;
    background-color: #0e47e4;

}
.menu{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
    
}
.logo{
    font-size: 30px;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li {
    position: relative;
    float: left;

}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover{
    color: aquamarine;
}
#menu{
    display: none;
}
.menu-icono{
   width: 25px;
}
.menu  label {
    cursor: pointer;
    display: none;
    
}
@media (max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu  label {
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #12d62c;
        display: none;
    }
    .menu .navbar ul li {
       width: 100%;
    }
    #menu:checked  ~ .navbar{
        display: initial;
    }
    

}
  
